*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #4a4ca5;
}
body{
	background-color: #4a4ca5;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#4a4ca5; 
}

.center{
	width: 90%;
	background-color: rgb(185, 86, 86);

}
.container
{
	background-color: rgb(185, 86, 86);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #4a4ca5;
}
.navbar-brand{
font-size: 30px;	
}